# JDBC
spring.datasource.username={{getv "/spring/datasource/username"}}
spring.datasource.password={{getv "/spring/datasource/password"}}
# Rabbit Mq
spring.rabbitmq.username={{getv "/spring/rabbitmq/username"}}
spring.rabbitmq.password={{getv "/spring/rabbitmq/password"}}